.HomePageHeading {
    text-align: center;
    font-size: 50px;
    color:rgb(63, 151, 63)
}
#HomePage {
    background-color: rgb(68, 76, 69);
    color: bisque;
}
#ThePowerBook100 {
    background-color: blueviolet;
    color: brown;
    text-align: center;
}
#TheBlueandWhiteG3 {
    background-color: aquamarine;
    color: peru;
    text-align: center;
}
#TheFirstIMac {
    background-color: palevioletred;
    color: teal;
    text-align: center;
}
#MacBookPro {
    background-color: lightcoral;
    color: darkcyan;
    text-align: center;
}
#MacBookAir {
    background-color: olive;
    color: peachpuff;
    text-align: center;
}

li {
    color: beige;
}
.HeadingPowerBook100 {
     text-align: center;
    font-size: 48px;
    color:yellow;
}
.TheFirstIMacHeading {
    text-align: center;
    font-size: 48px;
    color:silver;
}
.BlueHeading{
    text-align: center;
    font-size: 48px;
    color:lightpink;
}
.ProHeading {
    text-align: center;
    font-size: 48px;
    color:royalblue;
}
.AirHeading {
    text-align: center;
    font-size: 48px;
    color:wheat;
}
 {
    text-align: center;
}
table {
    background-color: red;
    margin: auto;
}
td {
    color: aqua;
}
