.HomePageHeading {
    text-align: center;
    font-size: 50px;
    color:yellow
}
body {
    background-color: rgb(52, 16, 86);
    color: bisque;
}
li {
    color: greenyellow;
}
.Heading {
     text-align: center;
    font-size: 48px;
    color:yellow;
}
img {
    text-align: center;
}
table {
    background-color: red;
}
td {
    color: aqua;
}
